/*ESTILOS RESET*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kosugi";
    /* border: 1px red solid;  */
}

ul {
    display: inline-block;

}

li {
    list-style: none;
}

/*================================================================================*/

/*ESTILOS BODY*/
#body {
    max-width: 1400px;
    background-image: url(../img/Background.jpg);
}


/*ESTILOS HEADER*/
#header {
    width: 100%;
    height: 80px;
    background-color: orange;
    position: fixed;
}

.headerLogo {
    width: 70px;
}

#nav {
    display: flex;
    flex-direction: column;
    text-align: center
}


/*ESTILOS MAIN= INDEX*/
#main {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 85px;
}

.fotoDestacado {
    width: 300px;
}

/*ESTILOS FOOTER*/

#footer {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
}

.footerNav {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 15px;
}

.footerLogoImg {
    width: 125px;
}

.footerRedes {
    font-size: 30px;
    display: flex;
    column-gap: 20px;
}

